body{
	background-color: #25CED1;
	text-align: center;
	margin:0 auto;
	padding: 0;
	font-family: "Roboto Condensed", sans-serif;
}

#homepage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding:10px;
}

footer{
	width:100vw;
	padding:10px;
}

#homepage-footer {
	border-top:10px dotted white;
	padding-bottom: 0;
}

#survey-page {
	border-left:10px dotted white;
	border-right:10px dotted white;
	width:90vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*Logo =====================================================*/
i{
	font-size:100px;
	color:#FF8A5B;
	margin:0 auto;
}

i:hover {
	color:#FCEADE;
	font-size: 98px;
	transition: .15s;
}

/*Navigation ================================================*/
.links{
	color:#FCEADE;
}

a:hover { 
    text-decoration: none;
	color:#FF8A5B;
	transition: .15s;
}

/*Text ===================================================*/
h1 {
	font-family: "Righteous", cursive;
	color:white;
	font-size: 10vw;
}

#survey-header{
	font-size: 80px;
	padding:20px;	
}

h2{
	font-family: "Righteous", cursive;
}

p, h6 {
	color:#FCEADE;
	font-size: 18px;
	margin:30px 0px;
}

p{
	max-width: 850px;
	padding:20px;
}

/*Survey Form ==============================================*/
.primary-questions, .secondary-questions, .tertiary-questions {
	background-color: #EA526F;
	padding:20px;
	color:white;
	margin:20px 0px 20px 0px;
	border-radius: 25px;
}

.secondary-questions{background-color: #FF8A5B;}

.tertiary-questions{
	background-color: white;
	color:#5A6267
}

.tertiary-questions h6 {
	color:#5A6267;
}

.form-control{
	border-radius: 10px;
	padding: 10px;
	margin-top:10px;
}

.form-control:focus{
	box-shadow: none;
	border:1px solid lightgrey;
}

/*Dropdown Items ===========================================*/
.custom-select{
	background-color: #5A6267;
	color:white;
	width:200px;
	border:none;
	cursor: pointer;
}

.custom-select:focus{
	box-shadow: none;
}

.custom-select:hover{
	background-color: #51585c;
}

/*Button ==================================================*/
#submit-button{
	padding:10px;
	color:white;
	border-radius: 15px;
	font-size: 25px;
	background-color: #FF8A5B;
	border:none;
}

#submit-button:hover{
	background-color:#e57c51;
	transition: .25s;
}

/*Modal ==================================================*/
.modal-content{
	font-family: "Righteous", cursive;
	border-radius: 25px;
	background-color:#25CED1;
	color:white;
	border:5px solid white;
	display: flex;
	align-items: center !important;
}

.modal-header, .modal-footer{
	border:none;
}

.modal-title{
	font-size:35px;
}

img{
	border-radius: 25px;
	width:325px;
	height: 325px;
}

#friend-name{
	text-transform: uppercase;
	font-size:25px;
}

/*Mobile Responsive ==================================================*/
@media only screen and (max-width: 600px) {
	h1 {
		font-size: 50px;
	}
	p {
		margin:0;
	}
	#homepage {
		justify-content: center;
		align-items: center;
	}
	i {
		font-size:70px;
		padding:20px 0;
	}
	i:hover{
		font-size: 70px;
	}

	footer{
		display: none;
	}
	#survey-header{
		font-size: 50px;
		padding:0;
	}
	#survey-page {
		border-left:none;
		border-right: none;
		padding:10px 0 30px 0;
		margin:0 auto;
		width: 100vw;
	}
	#survey{
		padding:0;
	}
}