/*
Colors Used:
	#25CED1 = Blue
	#FF8A5B = Orange
	#5A6267 = Grey
	#FCEADE = Beige
	#EA526F = Pink

 Fonts Used:
	Main headers = Righteous
	Body text = Roboto Condensed
*/

html{
	height: 100%;
}

body{
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
	width:960px;
	margin:auto;
	background-color: #25CED1;
	text-align: center
}

footer{
	grid-row-start: 2;
	grid-row-start:3;
	padding: 10px;
}

#homepage-footer{
	border-top:10px dotted white;
	width: 900px;
	margin:auto;
	margin-top:30px;
	padding-top: 15px;
}

/*Logo =====================================================*/

#logo{
	background-image: url("surveyicon.png");
	background-repeat: no-repeat;
	height:150px;
	width:150px;
	background-size:contain;
	margin:auto;
	background-position: center;
	margin-top: 7%;
	margin-bottom: 5%;
}

#logo:hover{
	background-image: url("surveyiconcolor.png");
}

/*Navigation ================================================*/

.links{
	color:#FCEADE;
	font-family: "Roboto Condensed", sans-serif;
}

a:hover { 
    text-decoration: none;
    color:#FF8A5B;;
}

/*Text ===================================================*/

h1 {
	font-family: "Righteous", cursive;
	color:white;
	font-size: 130px;
	margin-top:40px;
}

#survey-header{
	font-size: 80px;
	margin-top:20px;
	padding-bottom: 30px;
	border-bottom:10px dotted white;	
}

h2{
	font-family: "Righteous", cursive;
}

p, h6 {
	color:#FCEADE;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 18px;
	margin:30px 0px 30px 0px;
}

p{
	color: white;
	margin-top:50px;
	margin-bottom: 50px;
}

/*Survey Form ==============================================*/

.primary-questions, .secondary-questions, 
.tertiary-questions {
	background-color: #EA526F;
	padding:20px;
	color:white;
	margin:20px 0px 20px 0px;
	border-radius: 25px;
}

.secondary-questions{
	background-color: #FF8A5B;
}

.tertiary-questions{
	background-color: white;
	color:#5A6267
}

.tertiary-questions h6 {
	color:#5A6267;
}

#top-of-form {
	font-family: "Roboto Condensed", sans-serif;
	margin-top:30px;
}

.form-control{
	border-radius: 10px;
	padding: 10px;
	font-family: "Roboto Condensed", sans-serif;
}

.form-control:focus{
	box-shadow: none;
	border:1px solid lightgrey;
}

/*Dropdown Items ===========================================*/

.custom-select{
	background-color: #5A6267;
	color:white;
	width:200px;
	border:none;
}

.custom-select:focus{
	box-shadow: none;
}

.custom-select:hover{
	background-color: #51585c;
}

/*Button ==================================================*/

#submit-button{
	padding:10px;
	color:white;
	border-radius: 15px;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 25px;
	background-color: #FF8A5B;
	border:none;
	margin-bottom: 20px;
}

#submit-button:hover{
	background-color:#5A6267;
}